name: Descarga Rentabilidades FIC

on:
  schedule:
    # Ejecutar a las 14, 16, 18, 20 y 22 UTC
    # (Equivalente a 9am, 11am, 1pm, 3pm y 5pm Hora Colombia)
    - cron: '0 14,16,18,20,22 * * *'
  workflow_dispatch: # Bot贸n manual para pruebas

permissions:
  contents: write

jobs:
  download-fic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3
      
      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Instalar dependencias
        run: pip install -r requirements.txt
        
      - name: Ejecutar script
        run: python main.py
        
      - name: Guardar cambios
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          git add data/
          
          # Hacemos commit solo si hay cambios.
          # Usamos fecha y hora en el mensaje para diferenciar las 5 ejecuciones diarias
          git commit -m " FIC Update: $(date +'%Y-%m-%d %H:%M')" || echo "Sin cambios nuevos"
          
          # pull --rebase es clave aqu铆 porque si se ejecuta 5 veces al d铆a,
          # evita conflictos si una ejecuci贸n anterior cambi贸 el repo.
          git pull --rebase
          git push